<ion-view view-title="慢性病档案">

  <ion-content>

    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chronic-diseasedetail">
        <img ng-src="img/mike.png">
        <h2>高血压管理卡</h2>
        <p>2015-09-17</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          删除
        </ion-option-button>
      </ion-item>



      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chronic-diseasedetail2">
        <img ng-src="img/mike.png">
        <h2>2型糖尿病专案</h2>
        <p>2015-09-09</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>

