
<ion-view view-title="高血压专案">

  <ion-content has-bouncing="true" overflow-scroll="false">
<ion-list>

    <ion-item class="mine-msg-item item">
      <span class="msg">专案编号</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="32010700601103289" ng-model="msg.name">
    </ion-item><br>

    <ion-item class="mine-msg-item item">
      <span class="msg">身高</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="2016-12-2" ng-model="msg.name">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">体重</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="56 kg
" ng-model="msg.name">
    </ion-item>


    <ion-item class="mine-msg-item item">
      <span class="msg">体质指数</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="21 Kg/m
" ng-model="msg.id">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">血压</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="140mmHg(18.6kPa)
" ng-model="msg.id">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">血压级别</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="一级" ng-model="msg.id">
    </ion-item> <br>


    <ion-item class="mine-msg-item item">
      <span class="msg">建卡时是否服用降压药</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="否" ng-model="msg.id">
    </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">其他心脑血管疾病危险因素</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="吸烟" ng-model="msg.id">
    </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">靶器官损害情况</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="左室肥厚" ng-model="msg.id">
    </ion-item><ion-item class="mine-msg-item item">

    <span class="msg">并存的相关疾病</span>
    <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="糖尿病" ng-model="msg.id">
  </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">危险水平分层</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="一级" ng-model="msg.id">
    </ion-item><br>




    <ion-item>

    <span class="msg">管档中心</span>
    <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="模范西路社区卫生服务中心
" ng-model="msg.id">
    </ion-item>

    <ion-item>

    <span class="msg">管理医生</span>
    <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="模范西路配置员
" ng-model="msg.id">
    </ion-item>


  </ion-list>


  </ion-content>

</ion-view>
