
<ion-view view-title="2型糖尿病">

  <ion-content has-bouncing="true" overflow-scroll="false">
<ion-list>

    <ion-item class="mine-msg-item item">
      <span class="msg">专案编号</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="098000222" ng-model="msg.name">
    </ion-item><br>

    <ion-item class="mine-msg-item item">
      <span class="msg">病人来源</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="社区" ng-model="msg.name">
    </ion-item>
  <div class="col " style=" background-color: whitesmoke;     border-bottom: 1px solid #ddd">
    <div class="col col-50" style="font-size: larger;   color: darkgray" >建卡时血糖水平 </div>
  </div>
    <ion-item class="mine-msg-item item">
      <span class="msg">空腹血糖</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="6.1mmol\L
" ng-model="msg.name">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">餐后2小时血糖</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="8.2mmol\L" ng-model="msg.id">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">糖化血红蛋白</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="98%" ng-model="msg.id">
    </ion-item>


  <div class="col " style=" background-color: whitesmoke;     border-bottom: 1px solid #ddd">
    <div class="col col-50" style="font-size: larger;   color: darkgray" >确诊时的并发症情况
    </div>
  </div>

    <ion-item class="mine-msg-item item">
      <span class="msg">高血压</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="无" ng-model="msg.id">
    </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">糖尿病足</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="无" ng-model="msg.id">
    </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">糖尿病神经病变</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="无" ng-model="msg.id">
    </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">视网膜病变</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="无" ng-model="msg.id">
    </ion-item><ion-item class="mine-msg-item item">
    <span class="msg">糖尿病肾病</span>
    <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="无" ng-model="msg.id">
  </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">冠心病</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="无" ng-model="msg.id">
    </ion-item>

  <ion-item class="mine-msg-item item">
    <span class="msg">高血脂</span>
    <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="无" ng-model="msg.id">
  </ion-item>


</ion-list>

  </ion-content>

</ion-view>
