<ion-view view-title="诊疗信息">


<!-- ng-click="changeImg()" -->
  <ion-nav-buttons side="right"   >

  <a class="button login-register"  ng-click="changeImg()">
    上传
  </a>  </ion-nav-buttons>




  <ion-content>

    <ion-item href="">
      <span class="msg">出诊病例</span>
      <i class="icon ion-chevron-right mine-msg-right"></i>
    </ion-item>

    <ion-item href="">
      <span class="msg">出院小结</span>
      <i class="icon ion-chevron-right mine-msg-right"></i>
    </ion-item>

    <ion-item href="">
      <span class="msg">化验报告</span>
      <i class="icon ion-chevron-right mine-msg-right"></i>
    </ion-item>

    <ion-item href="">
      <span class="msg">影像报告</span>
      <i class="icon ion-chevron-right mine-msg-right"></i>
    </ion-item>


  </ion-content>

</ion-view>
