<ion-view view-title="咨询公告">


  <ion-content>

    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/noticedetail">
        <img ng-src="img/mike.png">
        <h2>岱山社区卫生服务中心“五举措”</h2>
        <p>2015-09-17</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          删除
        </ion-option-button>
      </ion-item>



      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="">
        <img ng-src="img/mike.png">
        <h2>雨花第一医院成立孕产科专门一对一</h2>
        <p>2015-09-09</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
