
<ion-view view-title="健康体检">

<ion-content>

  <ion-list>

    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/reportdetail">
      <img ng-src="img/mike.png">
      <h2>常规健康体检表</h2>
      <p>2015-09-17</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      <ion-option-button class="button-assertive" ng-click="remove(chat)">
        删除
      </ion-option-button>
    </ion-item>



    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="">
      <img ng-src="img/mike.png">
      <h2>孕期25周大检查报告</h2>
      <p>2015-09-09</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      <ion-option-button class="button-assertive" ng-click="remove(chat)">
        删除
      </ion-option-button>
    </ion-item>
  </ion-list>

  </ion-content>

</ion-view>
