
<ion-view view-title="常规健康体检表">

  <ion-content scroll="false">



    <ion-item class="mine-msg-item item">
      <span class="msg">姓名</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="姚明" ng-model="msg.name">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">编号</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="098000222" ng-model="msg.name">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">体检日期</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="2016-12-2" ng-model="msg.name">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">责任医生</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="骚猪" ng-model="msg.name">
    </ion-item>

    <div class="col " style=" background-color: whitesmoke;     border-bottom: 1px solid #ddd">
      <div class="col col-50" style="font-size: larger;   color: darkgray" >一般状况 </div>
    </div>

    <ion-item class="mine-msg-item item">
    <span class="msg">体温</span>
    <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="37 摄氏度" ng-model="msg.id">
  </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">脉搏</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="81次 ／min" ng-model="msg.id">
    </ion-item>

    <ion-item class="mine-msg-item item">
      <span class="msg">呼吸频率</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="80min ／ 次" ng-model="msg.id">
    </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">血压</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="左侧 90  右侧 87" ng-model="msg.id">
    </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">身高</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="168cm" ng-model="msg.id">
    </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">体重</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="70kg" ng-model="msg.id">
    </ion-item><ion-item class="mine-msg-item item">
    <span class="msg">腰围</span>
    <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="60cm" ng-model="msg.id">
  </ion-item>
    <ion-item class="mine-msg-item item">
      <span class="msg">体质指数</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="21BMI" ng-model="msg.id">
    </ion-item>



    <ion-item class="mine-msg-item item">
      <span class="msg">老年人健康状态自我评估＊</span>
      <input class="textfield ng-pristine ng-untouched" style="border: 0;" placeholder="满意" ng-model="msg.id">
    </ion-item>



  </ion-content>

</ion-view>
