<ion-view view-title="医院列表">


  <ion-content class="padding">


      <div class="list">


        <a class="item item-avatar" href="">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>南京市雨花医院</h2>
          <p style="color: red">综合医院</p>
          <div class="item tabs tabs-secondary ">
            <a class="tab-item" href="">
              挂号
            </a>
            <a class="tab-item" href="">
              缴费
            </a>
            <a class="tab-item" href="">
              查报告
            </a>
          </div>

        </a>


        <a class="item item-avatar" href="">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>南京市雨花医院</h2>
          <p style="color: red">综合医院</p>
          <div class="item tabs tabs-secondary ">
            <a class="tab-item" href="">
              挂号
            </a>
            <a class="tab-item" href="">
              缴费
            </a>
            <a class="tab-item" href="">
              查报告
            </a>
          </div>

        </a>
        <a class="item item-avatar" href="">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>南京市雨花医院</h2>
          <p style="color: red">综合医院</p>
          <div class="item tabs tabs-secondary ">
            <a class="tab-item" href="">
              挂号
            </a>
            <a class="tab-item" href="">
              缴费
            </a>
            <a class="tab-item" href="">
              查报告
            </a>
          </div>

        </a>

      </div>



  </ion-content>
</ion-view>
